doctype html

html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
    title savegazo
    link(rel='stylesheet', href='css/index.css')
  body
    h1 savegazo
    canvas#canvas(width=300, height=300)
    ul
      li
        | 文字サイズ
        button#w_up +
        button#w_down -
      li
        button#clear クリア
      li
        input#text(type='text', size=4, placeholder='文字')
        button#save 保存
    script(src='js/index.js')
